/*created by Fanwu at 2017-06-21*/

/*小字体*/
.normalsize {
    font-size: 14px;
}
/*大字体*/
.bigsize {
    font-size: 20px;
}
/*中文调整*/
p {
    line-height: 1.6em;
}
@media screen and (min-width: 500px) {
    .blogbody p {
        text-indent: 2em;
    }
}

/*注册登陆页面*/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/*链接过度动画*/
a {
    transition: .5s;
}
/*导航栏*/
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: rgba(231, 231, 231, 0.5);
}
@media only screen and (min-width: 768px) {
    .navbar-scroll.navbar-fixed-top {
        position: fixed;
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s;
        background-color: rgba(248, 248, 248, 0.5);
        top: -61px;
    }
    .navbar-scroll.navbar-fixed-top.ontop {
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}
.navbar-scroll {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.navbar-brand {
    font-weight: 800;
}

/*标签*/
.tag {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}