{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}

{% block pagehead %}
<header class="intro-header" style="background-image: url('/static/img/blog.png')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ article.title }}</h1>
                    <h2 class="subheading">{{ article.subtitle }}</h2>
                    <span class="meta">Posted by <a href="/">{{ article.author }}</a> <time class="trans_time" data-time="{{ article.ct }}"></time></span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock pagehead %}

{% block content %}
<article>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 blogbody">
        {{ article.body|safe }}
        </div>
    </div>
</article>
<hr>
{% endblock content %}

{#script1#}
{% block script1 %}
<script>
{#转换发布时间#}
var main = function () {
    transTime()
}
main()
</script>
{% endblock script1 %}