{% extends 'base.html' %}
{% set current_page = 'BLOG' %}

{#head#}
{% block title %}博客{% endblock title %}

{% block pagehead %}
<header class="intro-header" style="background-image: url('/static/img/blog.png')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Fanwu's Blog</h1>
                    <hr class="small">
                    <span class="subheading">一个懒人的草稿收集册</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock pagehead %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    {% for article in articles %}
        <div class="post-preview">
                <a href="/blog/{{ article.id }}">
                    <h2 class="post-title">
                        {{ article.title }}
                    </h2>
                    <h3 class="post-subtitle">
                        {{ article.subtitle }}
                    </h3>
                </a>
            <p class="post-meta">
                Posted by <strong>{{ article.author }}</strong>
                <time><span class="trans_time" data-time="{{ article.ct }}"></span></time>
            </p>
        </div>
        <hr>
    {% endfor %}
    </div>
</div>

{% endblock content %}


{#script1#}
{% block script1 %}
<script>
{#转换发布时间#}
var main = function () {
    transTime()
}
main()
</script>
{% endblock script1 %}
