<!DOCTYPE html>
<html lang="zh">
<head>
{% set currentuser_id = session.get('user_id', -1) %}
    <!-- template by Fanwu -->
    <!-- Powered by the popular Clean Blog template from Bootstrap -->
    <!-- 感谢中科大 https://lug.ustc.edu.cn/wiki/ 的 公共库 cdn -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{% block title %}{% endblock title %} - fanwu's blog</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Bootstrap Core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Theme CSS -->
    <link href="/static/css/clean-blog.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.lug.ustc.edu.cn/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.lug.ustc.edu.cn/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Custom CSS -->
    <link href="/static/css/custom.css" rel="stylesheet">

    {% block head %}
    {% endblock head %}
</head>
<body>
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">theee.cc</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                {% set navigation_bar = [
                    ('BLOG', '/blog/' ),
                    ('TOYS', '/toys/'),
                ] -%}
                {% set current_page = current_page|default('不知道啥') -%}
                <ul  class="nav navbar-nav navbar-right">
                {% for caption, href in navigation_bar %}
                    {% if caption == current_page %}<li class="active"><a>{{ caption|e }}</a></li>
                    {% else %}<li><a href="{{ href|e }}">{{ caption|e }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- pageheader -->
    <!-- 照片来自 Unsplash -->
    {% block pagehead %}
    {% endblock pagehead %}

    <!-- Main Content -->
    <div class="container">
        {% block content %}{% endblock content %}
    </div>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="https://github.com/theggs" target="github">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://bitbucket.org/theggs" target="bitbucket">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-bitbucket fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; theee.cc 2017</p>
            </div>
        </div>
    </footer>

</body>
<!-- jQuery -->
<script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Theme JavaScript -->
<script src="/static/js/clean-blog.min.js"></script>
<script src="/static/js/base.js"></script>

{% block script1 %}{% endblock script1 %}
</html>