<!DOCTYPE html>
<html lang="zh">
<head>
{% set currentuser_id = session.get('user_id', -1) %}
    <!-- template by Fanwu -->
    <!-- Powered by the popular Clean Blog template from Bootstrap -->
    <!-- 感谢中科大 https://lug.ustc.edu.cn/wiki/ 的 公共库 cdn -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{% block title %}{% endblock title %} - fanwu's website</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Bootstrap Core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Theme CSS -->
    <link href="/static/css/clean-blog.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.lug.ustc.edu.cn/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.lug.ustc.edu.cn/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Custom CSS -->
    <link href="/static/css/custom.css" rel="stylesheet">

    {% block head %}
    {% endblock head %}
</head>
<body class="normalsize">
<!-- nav -->
<nav class="navbar navbar-default navbar-scroll">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">theee.cc</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
{#        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>#}
{#        <li><a href="/bbs">BBS</a></li>#}
{#        <li class="dropdown">#}
{#          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>#}
{#          <ul class="dropdown-menu">#}
{#            <li><a href="#" class="disabled">Action</a></li>#}
{#            <li><a href="#" class="disabled">Another action</a></li>#}
{#            <li><a href="#" class="disabled">Something else here</a></li>#}
{#            <li role="separator" class="divider"></li>#}
{#            <li><a href="#" class="disabled">Separated link</a></li>#}
{#            <li role="separator" class="divider"></li>#}
{#            <li><a href="#" class="disabled">One more separated link</a></li>#}
{#          </ul>#}
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('bbs.index') }}">论坛</a></li>
        <li><a href="{{ url_for('bbs.bbs_functions') }}">论坛功能</a></li>
        {% if currentuser_id == -1 %}
        <li><a href="{{ url_for('user.login', redirect=request.path) }}">登陆</a></li>
        <li><a href="{{ url_for('user.register', redirect=request.path) }}">注册</a></li>

        {% else %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">用户 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/user">主页</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ url_for('user.logout', redirect=request.path) }}">登出</a></li>
        {% endif %}
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


    <!-- Main Content -->
    <div class="container">
        {% block content %}{% endblock content %}
    </div>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="https://github.com/theggs" target="github">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://bitbucket.org/theggs" target="bitbucket">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-bitbucket fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; theee.cc 2017</p>
            </div>
        </div>
    </footer>

</body>
<!-- jQuery -->
<script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Theme JavaScript -->
<script src="/static/js/clean-blog.min.js"></script>

<script src="/static/js/base.js"></script>
<script>
// 向上滚动时显示导航栏

    var MQL = 1170
    if ($(window).width() > MQL) {
        var headerHeight = $('.navbar-scroll').height()
        $(window).on('scroll', {
                previousTop: 0
        },
        function() {
            var currentTop = $(window).scrollTop()
            if (currentTop < this.previousTop) {
                //if scrolling up...
                if (currentTop > 0 && $('.navbar-scroll').hasClass('navbar-fixed-top')) {
                    $('.navbar-scroll').addClass('ontop')
                }
                else {
                    $('.navbar-scroll').removeClass('ontop navbar-fixed-top')
                }
            }
            else if (currentTop > this.previousTop) {
                //if scrolling down...
                $('.navbar-scroll').removeClass('ontop')
                if (currentTop > headerHeight && !$('.navbar-scroll').hasClass('navbar-fixed-top')) $('.navbar-scroll').addClass('navbar-fixed-top')
            }
            else if(currentTop == this.previousTop) {
            }
            this.previousTop = currentTop
        })
    }


</script>

{% block script1 %}
{% endblock script1 %}
</html>