{% extends 'base.html' %}
{% block title %}聊天室{% endblock %}

{% block pagehead %}
<header class="intro-header" style="background-image: url('/static/img/toys.png')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>聊天室</h1>
                    <hr class="small">
                    <span class="subheading">用 websocket 实现的简单聊天室。</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock pagehead %}
{% block content %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p class="bg-warning normalsize">Google Chrome 浏览器会误判下面的 form 请求，造成不能正常进入。请点击
            <a href="https://theee.cc/websocket/chatroom" class="text-warning">这里</a>
        进入聊天室。
        </p>
        <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item"
                    width="100%"
                    src="https://theee.cc/websocket/chatroom/"
                    scrolling="no"
                    id="chatroom-frame">
            </iframe>
        </div>
    </div>
</div>
{% endblock content %}
