{% extends 'base.html' %}
{% set current_page = 'TOYS' %}
{% block title %}玩具{% endblock %}

{#pageheader#}
{% block pagehead %}
<header class="intro-header" style="background-image: url('/static/img/toys.png')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Toys</h1>
                    <hr class="small">
                    <span class="subheading">一些小玩意儿</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock pagehead %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <a href="{{ url_for('toys.shorturl') }}">
            <h2>短链接<br><small>有生成和查询功能。只是去实现功能，所以还不够短。</small></h2>
        </a>
        <hr>
        <a href="{{ url_for('bbs.index') }}">
            <h2>BBS<br><small>一个论坛。尽可能的实现全面的功能，是个<del>超级玩具</del>大项目。</small></h2>
        </a>
        <hr>
        <a href="{{ url_for('toys.chatroom') }}">
            <h2>聊天室<br><small>用 websocket 实现的简单聊天室。</small></h2>
        </a>
        <hr>
    </div>

</div>
{% endblock %}