{% extends 'base.html' %}
{% block title %}短链接{% endblock %}

{% block pagehead %}
<header class="intro-header" style="background-image: url('/static/img/toys.png')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>短链接</h1>
                    <hr class="small">
                    <span class="subheading">有生成和查询功能。只是去实现功能，所以还不够短。</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock pagehead %}


{% block content %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="form-group">
            <label>转换通道</label>
            <input type="url" id="input_OriginalURL" class="form-control" placeholder="输入URL，生成短链接">
            <button id="button_OriginalURL" class="btn btn-default">提交</button>
        </div>
        <div class="form-group">
            <label>查询通道</label>
            <input type="url" id="input_ShortURL" class="form-control" placeholder="输入短链接，查询对应的原始链接">
            <button id="button_ShortURL" class="btn btn-default">提交</button>
        </div>
        <hr>
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default btn-copy" type="button" data-clipboard-target="#shortURL_result">
                    <span class="glyphicon glyphicon-copy" aria-hidden="true">复制</span>
                </button>
            </span>
                <input type="url" id="shortURL_result" class="form-control" readonly="readonly" placeholder="结果显示在这里">
        </div>
        <hr>
    </div>
</div>
{% endblock content %}

{% block script1 %}
<script src="//cdn.bootcss.com/clipboard.js/1.7.1/clipboard.min.js"></script>
<script src="/static/js/toys.js"></script>
<script>
new Clipboard('.btn-copy')
</script>
<script>
bindEventShortURL()
</script>
{% endblock script1 %}