{% extends "base_nointrohead.html" %}
{% block title %}BBS{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <ul class="nav nav-pills nav-justified">
        {% set b_in_args = request.args.get('board') %}
            <li role="presentation"  {% if b_in_args == 'all' or b_in_args is none %}class="active"{% endif %}>
                <a href="{{ url_for('.index', board='all') }}">ALL</a>
            </li>
            {% if boards is not none %}
            {% for b in boards%}
            <li role="presentation" {% if b_in_args == b.name %}class="active"{% endif %}>
                <a href="{{ url_for('.index', board=b.name) }}">{{ b.name }}</a>
            </li>
            {% endfor %}
            {% endif %}
        </ul>
        <div class="panel panel-default" id="topics-table">

        </div>
    </div>
    <div class="col-md-4">
        <div><a class="btn btn-primary btn-lg btn-block" href="{{ url_for('.new_topic') }}">发布新主题</a></div>
        <br>
        <div id="user_profile"></div>
    </div>
</div>
{% endblock content %}

{% block script1 %}
<script src="/static/js/bbs/bbs.js"></script>
<script src="/static/js/bbs/bbs_index.js"></script>
<script src="/static/js/user.js"></script>
<script>
    insertCurrentUserProfile()
</script>
{% endblock script1 %}