{% extends "base_nointrohead.html" %}
{% block title %}新主题 - BBS{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/editor/editor.css">
    <link rel="stylesheet" href="/static/lib/webuploader/webuploader.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/lib/markdownit.js"></script>
    <script src="/static/lib/webuploader/webuploader.withoutimage.js"></script>
    <script src="/static/lib/editor/editor.js"></script>
    <script src="/static/lib/editor/ext.js"></script>
{% endblock head %}

{% block content %}
<form  method="post" action="{{ url_for('.new_topic', token=token) }}">
<fieldset>
    <input class="form-control" type="text" autofocus name='title' maxlength="25" minlength="5" placeholder="标题最多15字">
    <select class="form-control" name="board_name">
        {% for b in boards %}
        <option>{{ b.name }}</option>
        {% endfor %}
    </select>
    <div class='markdown_editor in_editor panel panel-default'>
      <div class='markdown_in_editor'>
        <textarea class='editor form-control' name='content' rows='20' placeholder='文章支持 Markdown 语法, 请注意标记代码'></textarea>
      </div>
    </div>
    <div class='editor_buttons'>
          <input type="submit" class='span-primary submit_btn btn btn-primary btn-block' data-loading-text="提交中" value="提交">
    </div>
</fieldset>
</form>
{% endblock content %}

{% block script1 %}
<script>
  (function () {
    var editor = new Editor();
    editor.render($('.editor')[0]);
  })();
</script>
{% endblock script1 %}