{% extends "base_nointrohead.html" %}
{% block title %}{{ topic.title }} - BBS{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <!-- 主题内容   -->
            <div class="panel panel-default" id="topic">
                <input id="topic_id" name="topic_id" type="number" hidden value="{{ topic.id }}">
                <div class="panel-heading">
                    <h1>{{ topic.title }}</h1>
                    <div>
                        <small>
                            <span id="num_of_comments">{{ topic.comments }}</span><span>回复</span>
                        </small>
                        <span class="tag">{{ topic.board_name }}</span>
                    </div>
                    <div>
                        <a href="{{ url_for('user.user_page', user_id=author.id) }}"><img height="20" src={{ author.avator }}><strong>{{ author.username }}</strong></a>
                        <small class="trans_time" data-time="{{ topic.ct }}"></small>
                    </div>
                </div>
                <div class="panel-body md-content">{{ topic.content }}</div>
            </div>

            <!-- 回复框区 -->
            {% if user is none %}
            <a class="btn btn-default btn-block" href="{{ url_for('user.login', redirect=url_for('.topic_page', topic_id=topic.id)) }}">
                点击登陆才能回复哦
            </a>
            {% else %}
            <input name="token" id="crfs-token" value="{{ token }}" hidden>
            <textarea id="newComment" class="form-control" rows="5" minlength="5" placeholder="回复支持 Markdown 语法, 请注意标记代码"></textarea>
            <button class="btn btn-primary btn-block" id="btn_comment_submit">回复</button>
            {% endif %}
        </div>
        <div class="col-md-4">
            {% if user.isadmin == true %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-group" method="post" action="{{ url_for('bbs.del_topic', topic_id=topic.id, token=token) }}">
                        <input type="submit" class="btn btn-danger btn-block" value="删除主题">
                    </form>
                    <hr>
                    <form class="form-group" method="post" action="{{ url_for('bbs.topic_brd_moving', token=token) }}">
                        <input name="topic_id" type="number" hidden value="{{ topic.id }}">
                        <label for="board_mov_to">移动到面板</label>
                        <select name='board_name' id="board_mov_to" class="form-control">
                            {% for b in boards %}
                            {% if b.name != topic.board_name %}
                            <option>{{ b.name }}</option>
                            {% endif %}
                            {% endfor %}
                            <input class="btn btn-primary btn-block" type="submit" value="OK">
                        </select>
                    </form>
                </div>
            </div>
            {% endif %}
            <div id="user_profile"></div>
        </div>
    </div>
{% endblock content %}

{% block script1 %}
<script src="/static/js/bbs/bbs.js"></script>
<script src="//cdn.bootcss.com/markdown-it/8.3.1/markdown-it.min.js"></script>
<script src="/static/js/bbs/bbs_topic_page.js"></script>
<script src="/static/js/user.js"></script>
<script>
    insertCurrentUserProfile()
</script>
{% endblock script1 %}