{% extends 'base_nointrohead.html' %}
{% block title %}{{ user.username }}的主页{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" id="user_profile">
            </div>
        </div>
    </div>
</div>
{% endblock content%}

{% block script1 %}
<script src="/static/js/user.js"></script>
<script>
transTime()
insertCurrentUserProfile()
</script>
{% endblock %}