{% extends 'base_nointrohead.html' %}

{% block title %}登陆{% endblock %}

{% block content %}
<form class="form-signin" method="post">
    <h2 class="form-signin-heading">登陆</h2>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" id="inputUsername" class="form-control" placeholder="请输入用户名" name="username" minlength="3" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="请输入密码" name="password" minlength="5" required>
    <button class="btn btn-lg btn-primary btn-block" id="loginSubmit" type="submit">提交</button>
    <a class="btn btn-lg btn-default btn-block" href="{{ url_for('.register', redirect=request.args.get('redirect', '/user')) }}">注册</a>
</form>
{% endblock %}

{% block script1 %}
<script src="/static/js/user.js"></script>
{% endblock %}