{% macro mail(mails_unread) %}
<h4>私信</h4>
{% if mails_unread is none %}
<p>无未读私信。</p>
{% else %}
<ul>
    {% for m in mails_unread %}
    <li><a href="{{ url_for('.read_mail', mail_id=m.id) }}">
        {{ m.title }} @ <time class="trans_time" data-time="{{ m.ct }}"></time>
    </a></li>
    {% endfor %}
</ul>
{% endif %}
<hr>
{% endmacro %}


{% macro topics(recent_topics) %}
<h4>最近的主题</h4>
{% if recent_topics is none %}
<p>无主题。</p>
{% else %}
<ul>
    {% for t in recent_topics %}
        <li><a href="{{ url_for('bbs.topic_page', topic_id=t.id) }}">
                {{ t.title }} @ <time class="trans_time" data-time="{{ t.ct }}"></time>
            </a></li>
    {% endfor %}
</ul>
{% endif %}
<hr>
{% endmacro %}
