{% if user is none %}
<div class="alert alert-warning" role="alert">登陆以显示用户信息</div>
{% else %}
    {% if user.isadmin == true %}
    <div class="panel panel-danger">
        <div class="panel-heading"><h3>管理论坛</h3></div>
        <div class="panel-body">
            <form class="input-group" action="{{ url_for('bbs.new_board', token=token) }}" method="post">
                <span class="input-group-addon">新板块</span>
                <input type="text" name="name" class="form-control" placeholder="输入板块名">
                <span class="input-group-btn">
                    <input class="btn btn-default" type="submit" value="OK">
              </span>
            </form>
        </div>
    </div>
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3><img src="{{ user.avator }}" height="28.5">{{ user.username }}</h3>
            <button class="btn btn-primary btn-sm" id="btn_update_avator">修改头像</button>
        </div>
        <div class="panel-body">
            <form method="post" action="{{ url_for('.upload_avator', token=token) }}" enctype="multipart/form-data"
                  class="form-group hidden" id="form_update_avator">
                <h4>修改头像</h4>
                <label for="input_avator" class="btn btn-default btn-file">
                    上传图片
                    <input id="input_avator" name="avator" type="file" accept="image/x-png, image/gif, image/jpeg" class="hidden">
                </label>
                <input class="btn btn-primary" type="submit" value="确定">
            </form>
            <hr>
            {% import 'user/macro_profile.html' as profile %}
            {{ profile.mail(mails_unread) }}
            {{ profile.topics(recent_topics) }}
        </div>
    </div>
{% endif %}