{% extends "base_nointrohead.html" %}
{% block title %}私信 - BBS{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="panel panel-default" id="mail">
                <div class="panel-heading">
                    <h1>{{ mail.title }}</h1>
                    <div>
                        <a href="{{ url_for('user.user_page', user_id=mail.from) }}"><strong>{{ user_from.username }}</strong></a>
                        <small class="trans_time" data-time="{{ mail.ct }}"></small>
                    </div>
                </div>
                <div class="panel-body md-content">{{ mail.content }}</div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script1 %}
<script>
    var main = function () {
        transTime()
        markdownArticle()
    }
    main()
</script>
{% endblock script1 %}