{% extends 'base_nointrohead.html' %}

{% block title %}注册{% endblock %}

{% block content %}
<form class="form-signin" method="post">
    <h2 class="form-signin-heading">注册</h2>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" id="inputUsername" class="form-control" placeholder="请输入用户名" name="username" minlength="3" maxlength="10" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="请输入密码" name="password" minlength="5" maxlength="15" required>
    <div class="alert alert-warning">
        <p>账号、密码应只包含数字、字母与“_”。账号为3-10个字符。密码为5-15个字符。</p>
    </div>
    <button class="btn btn-lg btn-primary btn-block" id="loginSubmit" type="submit">提交</button>
</form>

{% endblock %}

{% block script1 %}
<script src="/static/js/user.js"></script>
{% endblock %}