{% extends 'base_nointrohead.html' %}
{% block title %}{{ this_user.username }}的主页{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3><img src="{{ this_user.avator }}" alt="avator">{{ this_user.username }}</h3>
                <button class="btn btn-primary btn-sm" id="btn_send_mail">发私信给他</button>
            </div>
            <div class="panel-body">
                <div class="hidden" id="form_send_mail">
                    <h4>发送新私信</h4>
                    <form class="form-group" method="post" action="{{ url_for('.send_mail', redirect=request.path, token=token) }}">
                        <input name="to" value="{{ this_user.id }}" hidden>
                        <label for="new_mail_title">标题</label>
                        <input type="text" id="new_mail_title" name="title" class="form-control" minlength="1" maxlength="15">
                        <label for="new_mail_content">正文</label>
                        <textarea class="form-control" name="content" id="new_mail_content" minlength="5"></textarea>
                        <input type="submit" class="btn btn-primary btn-block">
                    </form>
                    <hr>
                </div>
                <div>
                    {% import 'user/macro_profile.html' as profile %}
                    {{ profile.topics(recent_topics) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script1 %}
<script>
var bindEventGetMailForm = function () {
    e('#btn_send_mail').addEventListener('click', function() {
        $('#form_send_mail').removeClass('hidden')
        $('#btn_send_mail').addClass('hidden')
    })
}
var main= function () {
    bindEventGetMailForm()
    transTime()
}
main()
</script>
{% endblock script1 %}